@import "https://use.fontawesome.com/releases/v5.8.2/css/all.css";
@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

/*base-reset, font and colors*/

:root {
  --main-black: rgb(4, 4, 4);
  --main-grey: rgb(49, 60, 75);
  --blue-grey: rgb(64, 90, 105);
  --main-brown: rgb(54, 45, 46);
  --main-white: rgb(238, 242, 254);
  --main-gold: rgb(232, 176, 0);
}

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

@media (max-width: 1200px) {
  html {
    font-size: 6px;
  }
  #techdoc-title {
    font-size: 5.8px;
  }
}

@media (max-width: 980px) {
  html {
    font-size: 5.8px;
  }
}

@media (max-width: 460px) {
  html {
    font-size: 4px;
  }
}

/*base styles*/

body {
  font-family: "Rubik", sans-serif;
  font-size: 1.8rem;
  line-height: 1.5;
  color: var(--main-white);
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 10rem;
  text-shadow: 1px 1px 2px var(--main-brown);
}

h2 {
  font-size: 5rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/*nav*/

.nav {
  background-color: var(--main-gold);
  display: flex;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  box-shadow: 0 2px 2px var(--main-brown);
  justify-content: flex-end;
}

@media (max-width: 460px) {
  .nav {
    justify-content: center;
  }
}

.nav > ul {
  display: flex;
}

.nav-list a {
  display: block;
  padding: 2rem;
  font-size: 4.5rem;
  text-shadow: 1px 1px 2px var(--main-brown);
}

.nav-list a:hover {
  background-color: var(--main-grey);
}

/*welcome-section*/

.welcome {
  display: flex;
  flex-direction: column;
  background-color: var(--blue-grey);
  background-image: linear-gradient(
    var(--main-grey) -20%,
    var(--blue-grey) 100%
  );
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.welcome > p {
  font-size: 3.5rem;
  color: var(--main-gold);
  text-transform: uppercase;
}

/*projects-section*/

.projects {
  text-align: center;
  padding: 12rem 3rem 0 3rem;
  background-color: var(--main-grey);
}

.projects-header {
  max-width: 640px;
  margin: 0 auto 8rem auto;
  border: 3px dashed var(--main-gold);
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 5rem;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

@media (max-width: 460px) {
  .projects {
    padding: 8rem 1rem 0rem 1rem;
  }
  .projects-grid {
    grid-template-columns: 1fr;
  }
}

.project-tile {
  background-color: var(--blue-grey);
  border-radius: 3px;
  box-shadow: 1px 1px 1px var(--main-brown);
}

.symbol {
  color: var(--blue-grey);
  transition: color 0.3s ease-in-out;
}

.project-tile:hover .symbol {
  color: var(--main-gold);
}

.project-title {
  font-size: 4rem;
  padding: 0.5rem;
  text-align: center;
}

.project-image {
  width: 100%;
  height: calc(100% - 7.5rem);
  object-fit: cover;
}

#art {
  padding-bottom: 12rem;
}

@media (max-width: 460px) {
  #art {
    padding-bottom: 8rem;
  }
}

/*contact-section*/

.contact {
  background-color: var(--blue-grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 70vh;
  padding: 0 1rem;
}

.contact-header > h2 {
  font-size: 8rem;
}

.contact-header > p {
  font-size: 3rem;
  text-transform: uppercase;
}

.contact-links {
  display: flex;
  font-size: 4.5rem;
  flex-wrap: wrap;
  max-width: 1000px;
  width: 100%;
  margin-top: 5rem;
  justify-content: center;
}

.contact-btn {
  display: inline-block;
  padding: 1rem 2rem;
  transition: transform 0.3s ease-out;
}

i {
  color: var(--main-gold);
  text-shadow: 1px 1px 1px var(--main-brown);
  transition: transform 0.3s ease-out, scale 0.3s ease-in;
}

.contact-btn:hover {
  transform: translateY(4px);
}

.contact-btn:hover i {
  transform: translateX(-4px) scale(1.2);
}

/*footer*/

footer {
  display: flex;
  justify-content: flex-end;
  padding: 2rem;
  padding-top: 6rem;
  background-color: var(--blue-grey);
  border-top: 4px solid var(--main-brown);
  font-size: 2rem;
}
